# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_HAPLO-INS_LEFT
	def_bool $(shields_list_contains,haplo-ins_left)

config SHIELD_HAPLO-INS_RIGHT
	def_bool $(shields_list_contains,haplo-ins_right)
