# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_HAPLOINSUFFICIENT_LEFT

config ZMK_KEYBOARD_NAME
	default "haploinsufficient"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_HAPLOINSUFFICIENT_LEFT || SHIELD_HAPLOINSUFFICIENT_RIGHT

config ZMK_SPLIT
	default y

endif
